.navbar{

    width:100%;

    min-height:80px;

    display:flex;

    justify-content:space-between;

    align-items:center;

    padding:0 40px;

    backdrop-filter:blur(18px);

    background:rgba(255,255,255,.05);

    border-bottom:1px solid rgba(255,255,255,.08);

    position:sticky;

    top:0;

    z-index:100;

}

.logo{

    display:flex;

    align-items:center;

    gap:15px;

}

.logo-icon{

    width:55px;

    height:55px;

    border-radius:16px;

    background:linear-gradient(
        135deg,
        #00d9ff,
        #6a5cff
    );

    display:flex;

    align-items:center;

    justify-content:center;

    font-size:24px;

    font-weight:bold;

    color:white;

    box-shadow:0 0 30px rgba(0,217,255,.5);

}

.logo h2{

    color:white;

    font-size:22px;

}

.logo p{

    color:#9ca3af;

    font-size:13px;

}

.nav-links{

    display:flex;

    gap:30px;

    align-items:center;

}

.nav-links a{

    color:white;

    text-decoration:none;

    font-weight:500;

    transition:.3s;

}

.nav-links a:hover{

    color:#00d9ff;

}

.nav-links a.active{

    color:#00d9ff;

}

.menu-btn{

    display:none;

    background:none;

    border:none;

    color:white;

    font-size:30px;

    cursor:pointer;

    margin-right:15px;

}

/* Tablet */

@media (max-width:900px){

    .navbar{

        padding:0 20px;

    }

    .logo h2{

        font-size:20px;

    }

    .nav-links{

        gap:18px;

    }

}

/* Mobile */

@media (max-width:768px){

    .navbar{

        padding:0 15px;

        min-height:70px;

    }

    .menu-btn{

        display:block;

    }

    .logo{

        flex:1;

    }

    .logo-icon{

        width:45px;

        height:45px;

    }

    .logo h2{

        font-size:18px;

    }

    .logo p{

        display:none;

    }

    .nav-links{

        display:none;

    }

}