* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", Arial, sans-serif;
}

body {
  background: #080b14;
  color: white;
}

a {
  text-decoration: none;
  color: inherit;
}