-- CreateEnum
CREATE TYPE "JLTransactionType" AS ENUM ('WELCOME_BONUS', 'PURCHASE', 'DEPLOYMENT', 'REFUND', 'ADMIN_CREDIT', 'ADMIN_DEBIT', 'ADJUSTMENT');

-- CreateTable
CREATE TABLE "JLTransaction" (
    "id" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "type" "JLTransactionType" NOT NULL,
    "amount" INTEGER NOT NULL,
    "balanceBefore" INTEGER NOT NULL,
    "balanceAfter" INTEGER NOT NULL,
    "description" TEXT NOT NULL,
    "reference" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "JLTransaction_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE INDEX "JLTransaction_userId_idx" ON "JLTransaction"("userId");

-- CreateIndex
CREATE INDEX "JLTransaction_createdAt_idx" ON "JLTransaction"("createdAt");

-- CreateIndex
CREATE INDEX "JLTransaction_reference_idx" ON "JLTransaction"("reference");

-- AddForeignKey
ALTER TABLE "JLTransaction" ADD CONSTRAINT "JLTransaction_userId_fkey" FOREIGN KEY ("userId") REFERENCES "User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

